<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% user.forEach(function(movie){ %>
        <li>  <%= movie["Title"] %> - <%= movie["Year"]  %> - <%= movie["imdbID"] %> </li>
    
        <% }) %>
    
        <p><a href="/completed">View your completed list</a></p>
        <p><a href="/">Search for another movie</a></p>
</body>
</html>